{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Demo Page 4</title>
        <link href="{% static 'css/MyStyles.css' %}" rel="stylesheet" type="text/css"> 
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="{% static 'js/demo4.js' %}"></script>      
    </head>
    <body>
       <div>
            <h1>Demo 4 Page</h1>
       </div>
       <hr/>
       <div>
            <input id="btnClickMe" name="btnClickMe" type="button" value="Click Me" class="btn btn-primary"/>
            <input id="btnAdd" name="btnAdd" type="button" value="Add" class="btn btn-primary"/>
       </div>
       <hr/>
       <div>
            <input id="btnA" name="btn2" type="button" value="Double Click Me" class="btn btn-danger"/>
            <input id="btnB" name="btn2" type="button" value="Double Click Me" class="btn btn-danger"/>
       </div>      
       <hr/>
       <div>
            <input type="button" value="Move mouse over and out on me" class="classA btn btn-warning"/>
            <input type="button" value="Move mouse over and out on me" class="classA btn btn-warning"/>
       </div>
       <hr/>
       <div class="row">
        <div class="col-sm-2">
            <span style="font-weight: bold;">Enter Your Name :</span>
        </div>
        <div class="col-sm-3">
            <input id="txt1" type="text" placeholder="Enter your name" class="form-control"/>
        </div>
       </div>
       <hr/>
       <div class="row">
        <div class="col-sm-2">
            <span style="font-weight: bold;">Select Course :</span>
        </div>
        <div class="col-sm-3">
            <select id="ddlCourse" class="form-control">
                <option value="Select Course">-Select Course-</option>
                <option value="Python">Python</option>
                <option value="Java">Java</option>
                <option value="JavaScript">JavaScript</option>
                <option value="C#">C#</option>
                <option value="PHP">PHP</option>
            </select>
        </div>
       </div>
       <hr/>
       <div>
            <span>Hello...!</span>
            <span>Hai...!</span>
            <span>Bye...!</span>
       </div>
        <hr/>
       <div>
            <h1 id="Greet">Welcome</h1>
       </div>
        <hr/>
       <div>
            <h2 class="message">My Wolrd</h2>
            <h2 class="message">my world</h2>
       </div>
    </body>
</html>